name: docker-build

on:
  workflow_dispatch:

env:
  DOCKERHUB_REPO: giterhub/certimate

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Clone Repository
        uses: GuillaumeFalourd/clone-github-repo-action@v2
        with:
          owner: 'certimate-go'
          repository: 'certimate'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DeckerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: |
            ${{ env.DOCKERHUB_REPO }}:latest
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
